In [2]:
import numpy as np
import pandas as pd

In [37]:
data=pd.read_csv("D:/My DataCamp/My Python/DM assignment/Copy of Diabetes.csv",)
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [29]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [16]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [26]:
data.describe(include="all")  #including object

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [19]:
data.sample()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
61,8,133,72,0,0,32.9,0.27,39,1

In [21]:
data.shape

(768, 9)

In [28]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [50]:
#summarize only one column
#1
data.DiabetesPedigreeFunction.describe()

count    768.000000
mean       0.471876
std        0.331329
min        0.078000
25%        0.243750
50%        0.372500
75%        0.626250
max        2.420000
Name: DiabetesPedigreeFunction, dtype: float64

In [65]:
#2
data["Outcome"].describe()

count    768.000000
mean       0.348958
std        0.476951
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Outcome, dtype: float64

In [38]:
data.index

RangeIndex(start=0, stop=768, step=1)

### How many different values are in this dataset?

In [43]:
#1
data.DiabetesPedigreeFunction.value_counts()

DiabetesPedigreeFunction
0.258    6
0.254    6
0.268    5
0.207    5
0.261    5
        ..
1.353    1
0.655    1
0.092    1
0.926    1
0.171    1
Name: count, Length: 517, dtype: int64

In [44]:
#2
data.DiabetesPedigreeFunction.nunique()

517

### Most frequent value in the dataset

In [54]:
#1
data.DiabetesPedigreeFunction.value_counts().head().index[0]

0.258

In [60]:
#2
data.DiabetesPedigreeFunction.value_counts().idxmax()

0.258

In [57]:
data.DiabetesPedigreeFunction.value_counts(ascending=True).head()

DiabetesPedigreeFunction
0.627    1
0.955    1
0.435    1
0.147    1
1.138    1
Name: count, dtype: int64

### Least occurance

In [56]:
data.DiabetesPedigreeFunction.value_counts().tail()

DiabetesPedigreeFunction
1.353    1
0.655    1
0.092    1
0.926    1
0.171    1
Name: count, dtype: int64

In [79]:
data.DiabetesPedigreeFunction.value_counts().idxmin()

2

In [66]:
#Describe the columns names that contain NULL data
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [68]:
#Describe only selected columns
data[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']]

     Glucose  BloodPressure  SkinThickness  Insulin   BMI
0        148             72             35        0  33.6
1         85             66             29        0  26.6
2        183             64              0        0  23.3
3         89             66             23       94  28.1
4        137             40             35      168  43.1
..       ...            ...            ...      ...   ...
763      101             76             48      180  32.9
764      122             70             27        0  36.8
765      121             72             23      112  26.2
766      126             60              0        0  30.1
767       93             70             31        0  30.4

[768 rows x 5 columns]

### Convert to integer format & override

In [73]:
#Detect NULL
data[data["DiabetesPedigreeFunction"].isna()]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [76]:
#Convert
data["DiabetesPedigreeFunction"]=data["DiabetesPedigreeFunction"].astype(int)

In [77]:
#Override
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    int32
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(1), int32(1), int64(7)
memory usage: 51.1 KB

### Mean

In [78]:
data["Age"].mean()

33.240885416666664

### Sort Dataframe according to ...

In [81]:
sorted_data=data.sort_values("SkinThickness",ascending=True)

In [82]:
sorted_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
686,3,130,64,0,0,23.1,0,22,0
201,1,138,82,0,0,40.1,0,28,0
683,4,125,80,0,0,32.3,0,27,1
578,10,133,68,0,0,27.0,0,36,0
207,5,162,104,0,0,37.7,0,52,1
...,...,...,...,...,...,...,...,...,...
86,13,106,72,54,0,36.6,0,45,0
120,0,162,76,56,100,53.2,0,25,1
57,0,100,88,60,110,46.8,0,31,0
445,0,180,78,63,14,59.4,2,25,1
579,2,197,70,99,0,34.7,0,62,1

### Number of pregnancy per Glucose per BloodPressure

In [84]:
preg_per_glucose_per_bp=data.groupby(["Glucose","BloodPressure","Pregnancies"]).size()
preg_per_glucose_per_bp

Glucose  BloodPressure  Pregnancies
0        48             1              1
         68             1              1
                        6              1
         74             1              1
         80             5              1
                                      ..
197      70             2              2
                        4              1
         74             8              1
198      66             0              1
199      76             1              1
Length: 754, dtype: int64

### Column expansion

In [85]:
data[["Glucose"]]

     Glucose
0        148
1         85
2        183
3         89
4        137
..       ...
763      101
764      122
765      121
766      126
767       93

[768 rows x 1 columns]

In [88]:
#Expand
pd.set_option("max.colwidth",0)
data[["Insulin"]]

     Insulin
0    0
1    0
2    0
3    94
4    168
..   ...
763  180
764  0
765  112
766  0
767  0

[768 rows x 1 columns]

### Filtering (Pregnancy with more than Insulin "0")
##### Pandas Series objects donâ€™t have an .int attribute. #If you want to check whether "Insulin" has "0" in it, you should convert it to a string and use .str.contains()

In [95]:
data["Insulin"]=data["Insulin"].astype(str)
data[["Insulin"]]

    Insulin
0    0
1    0
2    0
3    94
4    168
..   ...
763  180
764  0
765  112
766  0
767  0

[768 rows x 1 columns]

In [94]:
data[data["Insulin"].astype(str).str.contains("0", na=False)][["Pregnancies"]]

     Pregnancies
0    6
1    1
2    8
5    5
7    10
..   ..
762  9
763  10
764  2
766  1
767  1

[498 rows x 1 columns]

### Top 10 Glucose

In [100]:
data["Glucose"].value_counts().head(10)

Glucose
99     17
100    17
111    14
129    14
125    14
106    14
112    13
108    13
95     13
105    13
Name: count, dtype: int64

In [24]:
(data[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']]==0).sum()

Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [18]:
zero_cols = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']
for col in zero_cols:
    print(f'Zeros in {col}:', (data[col] == 0).sum())


grouped = data.groupby('Outcome').mean()
print(grouped)

Zeros in Glucose: 5
Zeros in BloodPressure: 35
Zeros in SkinThickness: 227
Zeros in Insulin: 374
Zeros in BMI: 11
         Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
Outcome
0           3.298000  109.980000      68.184000      19.664000   68.792000
1           4.865672  141.257463      70.824627      22.164179  100.335821

               BMI  DiabetesPedigreeFunction        Age
Outcome
0        30.304200                  0.429734  31.190000
1        35.142537                  0.550500  37.067164

# Outcome

In [102]:
data["Outcome"].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [107]:
pregnancy_outcome=data.groupby(["Outcome"]).size()
pregnancy_outcome

Outcome
0    500
1    268
dtype: int64

### Analysis of Pregnancy

In [109]:
data.groupby('Outcome')['Pregnancies'].mean()  ###???

Outcome
0    3.298000
1    4.865672
Name: Pregnancies, dtype: float64

### Analysis of Age

In [123]:
grouped_age = data.groupby('Outcome')['Age'].agg(['mean', 'median', 'min', 'max','std'])
grouped_age

              mean  median  min  max        std
Outcome
0        31.190000  27.0    21   81   11.667655
1        37.067164  36.0    21   70   10.968254

### Analysis of Glucose

In [127]:
grouped_glucose = data.groupby('Outcome')['Glucose'].agg(['mean', 'median', 'min', 'max','std'])
grouped_glucose

               mean  median  min  max        std
Outcome
0        109.980000  107.0   0    197  26.141200
1        141.257463  140.0   0    199  31.939622

##### Analysis of Insulin

In [128]:
data["Insulin"]=data["Insulin"].astype(int)
data[["Insulin"]]

     Insulin
0    0
1    0
2    0
3    94
4    168
..   ...
763  180
764  0
765  112
766  0
767  0

[768 rows x 1 columns]

In [129]:
grouped_insulin = data.groupby('Outcome')['Insulin'].agg(['mean', 'median', 'min', 'max','std'])
grouped_insulin

               mean  median  min  max         std
Outcome
0        68.792000   39.0    0    744  98.865289
1        100.335821  0.0     0    846  138.689125

# Correlationship with outcome